<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/5e2b46074f.js" crossorigin="anonymous"></script>
    <title><%= subject %></title>
  </head>
  <body>
    <!-- Title -->
    <tr>
      <td style="padding: 40px 40px 20px">
        <h1 style="margin: 0; font-size: 26px; font-weight: bold; color: #000000;"><%= title %></h1>
      </td>
    </tr>
    <!-- Content -->
    <tr>
      <td style="padding: 0 40px 40px; font-size: 16px; line-height: 1.8; color: #000000">
        <%- content %>
      </td>
    </tr>
  </body>
</html>
